---
- hosts: setup
  remote_user: versloot
  become: yes

  tasks:
  - name: Install git
    apt:
      name: git
      state: latest

  - name: Install vim
    apt:
      name: vim
      state: latest

  - name: Install htop
    apt:
      name: htop
      state: latest

  - name: Install tmux
    apt:
      name: tmux
      state: latest

  - name: Install discus
    apt:
      name: discus
      state: latest

  - name: Install zsh
    apt:
      name: zsh
      state: latest
  
  - name: Setup zsh, download antigen
    get_url: 
      url: https://raw.githubusercontent.com/zsh-users/antigen/master/bin/antigen.zsh
      dest: /home/versloot/dotfiles/antigen.zsh

  - name: Setup zsh, install powerfonts
    apt:
      name: fonts-powerline
      state: latest

  - name: Install xclip
    apt:
      name: xclip
      state: latest

  - name: Install python pip
    apt:
      name: python-pip
      state: latest

  - name: Install python3 pip
    apt:
      name: python3-pip
      state: latest

  - name: Install curl
    apt:
      name: curl
      state: latest

  - name: Install cmake
    apt:
      name: cmake
      state: latest


  - name: Install ansible lint
    apt:
      name: ansible-lint
      state: latest

- hosts: setup
  remote_user: versloot

  tasks:
  - name: Setup tmux, downlaod plugin manager
    git: 
      repo: 'https://github.com/tmux-plugins/tpm'
      dest: /home/versloot/.tmux/plugins/tpm
      
